/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'Segoe-Print';
    src: url('../fonts/911Fonts.com_SegoePrint__-_911fonts.com-fonts-oki4.eot') format('embedded-opentype');
}

/*@font-face {
    font-family: '911Fonts.com_SegoePrint__-_911fonts.com-fonts-oki4';
    src: url('../fonts/911Fonts.com_SegoePrint__-_911fonts.com-fonts-oki4.ttf') format('truetype');
}*/
.text-tittle {
    text-align: center;
    font-family: 'Segoe-Print';
    font-size: 11px;
}
.teste {
text-decoration: none;
}
.buttonfooter {
    margin-top: 40px;
    text-align: center;
}
.menu{
    margin-top: 50px;
    text-align: center;
}
.a , .b , .c , .d{
margin-top: 40px;
}
.listaExercicios{
margin-top: 40px;
}
h1 title{
    font-family: 'Segoe-Print';
    text-align: center;
}