<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-header-bar align-title="center" class="bar-dark">
        <div class="buttons">
            <button class="button ion-chevron-left" ui-sref="treino"></button>
        </div>
        <h1 class="title">Happy Fitness</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <img class="full-image" src="img/agachamento.png" style="margin-top:20px;">
        <p><b>PARABÉNS!</b></p>
        <div class="bar-dark">
            <button class="button button-full" ui-sref="listaTreino">Finalizar</button>
        </div>
    </ion-content>
</ion-view>