<!-- The title of the ion-view will be shown on the navbar -->
<ion-view hide-back-button="true" hide-nav-bar="true">
    <ion-content class="padding">
        <img class="full-image" src="img/fitness-training-311490_960_720.png" style="margin-top:20px;">
        <div class="text-tittle">
            <h1 class="text">{{vm.tittle}}</h1>
        </div>
        <div class="list" style="margin-top:20px;">
            <center>
                <a class="item" ui-sref="menuAluno">Aluno</a>
                <a class="item" ui-sref="listagemAlunos">Instrutor</a>
            </center>
        </div>
    </ion-content>
</ion-view>